<nav class="navbar">
  <button type="button" class="brand" (click)="navigateToHome()">
    <fa-icon [icon]="faCalendar"></fa-icon>
    <span>EventMaster</span>
  </button>

  <div class="nav-buttons">
    <button class="home" routerLink="/home">Home</button>
    <button class="sign-up" routerLink="/registration">Sign Up</button>
  </div>
</nav>

<div class="login-container">
  <div class="split-layout">
    <div class="login-card">
      <h2>Sign In</h2>
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-container">
            <!-- <fa-icon [icon]="faEnvelope" class="input-icon"></fa-icon> -->
            <input type="username" id="username" formControlName="username" placeholder=" ">
            <label for="username">Username</label>
          </div>
          <div class="error-message" *ngIf="itemForm.get('username')?.touched && itemForm.get('username')?.invalid">
            <div class="error-message" *ngIf="itemForm.get('username')?.errors?.['required']">Username is required</div>
            <div class="error-message" *ngIf="itemForm.get('username')?.errors?.['pattern']">Username should not contain
              any special characters</div>
            <div class="error-message" *ngIf="itemForm.get('username')?.errors?.['minlength']">Username should contain
              atleast 3 characters </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-container">
            <!-- <fa-icon [icon]="faLock" class="input-icon"></fa-icon> -->
            <input type="password" id="password" formControlName="password" placeholder=" ">
            <label for="password">Password</label>
          </div>
          <div class="error-message" *ngIf="itemForm.get('password')?.touched && itemForm.get('password')?.invalid">
            <div class="error-message" *ngIf="itemForm.get('password')?.errors?.['required']">Pasword is required</div>
            <div *ngIf="itemForm.get('password')?.errors?.['pattern']">Password must have atleast 1 captial letter,1
              special character, 1 number</div>
            <div class="error-message" *ngIf="itemForm.get('password')?.errors?.['min']">Password should contain atleast
              8 characters </div>

          </div>
        </div>

        <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>

        <button type="submit" class="submit-button" [disabled]="!itemForm.valid">SIGN IN</button>
        <a routerLink="/registration" class="register-link">Don't have an account? <span>Sign up</span></a>
      </form>
    </div>

    <div class="content-right">
      <div class="logo-container">
      </div>
      <h1 class="animate-title">EVENT MANAGEMENT</h1>
      <h2 class="welcome-text">Welcome Back!</h2>
    </div>
  </div>
</div>