<div>
    <h1>Manage Events</h1>
 
    <div>
        <h3>View & Update Events</h3>
         <label >Event ID</label><br>
         <input type="text" [(ngModel)]="searchId" placeholder="Serach by ID" >
         <button (input)="loadEvents()">Search</button>
   
    <div *ngIf="selectedEvent" >
        <form [formGroup]="updateForm" (ngSubmit)="updateEvent()">
            <label for="title">Title</label>
            <input type="text" formControlName="title" id="title">
 
            <label for="description">Description</label>
            <input type="text" formControlName="description" id="description">
 
            <label for="dateTime">Date Time</label>
            <input type="text" formControlName="dateTime" id="dateTime">
 
            <label for="location">Location</label>
            <input type="text" formControlName="location" id="location">
 
            <label for="status">Status</label>
            <select name="status" id="status" formControlName="status">
                <option value="Initiated">Initiated</option>
                <option value="Complete">Complete</option>
            </select>
            <button type="submit">Submit</button>
 
        </form>
        <p *ngIf="successMessage">{{successMessage}}</p>
    </div>
 
    </div>
    <div>
        <h3>Event Information</h3>
        <table>
        <thead>
            <tr>
                <th>Sr#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date Time</th>
                <th>Location</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fevents of filteredEvents">
                <td>{{fevents.eventId}}</td>
                <td>{{fevents.title}}</td>
                <td>{{fevents.description}}</td>
                <td>{{fevents.dateTime}}</td>
                <td>{{fevents.location}}</td>
                <td>{{fevents.status}}</td>
                <td>
                    <button (click)="selectEvent(fevents)">Update</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>